.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: all 0.3s ease;
  margin-top: 100px; /* Ajusta este valor según el tamaño de tu header */
  padding-top: 20px; /* Para dar un poco de espacio adicional */
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #4caf50;
  font-weight: bold;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #cfd8dc;
  transition: font-size 0.3s ease, color 0.3s ease;
}

.lead:hover {
  font-size: 1.6rem;
  color: #ffffff;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border: 1px solid #4caf50;
  background-color: #2e2e2e;
  color: white;
  padding: 12px;
  font-size: 1.1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.form-control::placeholder {
  color: #999;
  transition: color 0.3s ease;
}

.form-control:focus {
  border-color: #4caf50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
  background-color: #333;
}

.form-check-label {
  margin-left: 10px;
  color: #cfd8dc;
}

.btn {
  background-color: #4caf50;
  border: none;
  padding: 12px 24px;
  font-size: 1.3rem;
  border-radius: 30px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.btn:hover {
  background-color: #388e3c;
  box-shadow: 0 8px 16px rgba(0, 255, 0, 0.2);
}

textarea.form-control {
  resize: none;
}

.form-check-input {
  background-color: #2e2e2e;
  border: 1px solid #4caf50;
}

select.form-control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;base64,...') no-repeat right;
  background-color: #2e2e2e;
  border: 1px solid #4caf50;
  padding: 12px;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #333;
  opacity: 1;
}

label {
  font-weight: bold;
  color: #4caf50;
}

/* Ajustes de tamaño para dispositivos móviles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .btn {
    font-size: 1rem;
    padding: 10px;
  }

  h2 {
    font-size: 2rem;
  }

  .lead {
    font-size: 1.4rem;
  }
}

