<div class="bg-dark-light text-light">
    <!-- Navbar -->
    <nav
      id="navbar"
      class="navbar navbar-expand-lg navbar-dark fixed-top shadow-lg"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Elder Haven</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link hover-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hover-link" href="/product">Product</a> <!-- Enlace al Producto -->
            </li>
            <li class="nav-item">
              <a class="nav-link hover-link" href="/team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hover-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hover-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="content fade-in">
      <router-outlet></router-outlet>
    </div>
  
    <!-- Footer -->
    <footer class="bg-dark text-white py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="text-gradient">Elder Haven</p>
            <p>
              Haciendo el mundo un lugar mejor para las personas mayores de edad a
              través de tecnologías innovadoras.
            </p>
          </div>
          <div class="col-md-6 text-end">
            <p>Envíanos un email para conocer más información.</p>
            <form class="d-flex">
              <input type="email" class="form-control me-2" placeholder="Email" />
              <button class="btn btn-success" type="submit">Enviar</button>
            </form>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#" class="text-white hover-link">Team</a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-white hover-link">Services</a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-white hover-link">Testimonials</a>
              </li>
            </ul>
            <p class="">&copy; 2024 Elder Haven. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
  